---
- name: create ipxe dir
  file:
    path: /tftpboot/ipxe
    state: directory

- name: install ipxe firmwares
  get_url:
    url: '{{ item }}'
    dest: /tftpboot/ipxe/
  loop:
    - "http://boot.ipxe.org/ipxe.efi"
    - "http://boot.ipxe.org/undionly.kpxe"

- name: configure first ipxe script
  copy:
    src: init.ipxe
    dest: /var/www/
